$gray: #A8A8A8;
$white: #FFFFFF;
$blue: #2E86C1;
$black: #000000;

.nav-container {
    width: 100%;
    border-bottom: 2px solid $gray; 

    .tab-button {
        border: none;
        padding: 10px 10px;
        background-color: $white;
        margin: 0 10px;
        position: relative;
        top: 2px;
        outline: none;
        color: $gray;
    }
    
    .active-button {
        border-bottom: 3px solid $blue;
        color: $black;
    }
}