.product {
    margin-top: 40px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(128,128,128,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(128,128,128,1);
    box-shadow: 0px 1px 2px 0px rgba(128,128,128,1);

    .product-title {
        border-bottom: 1px solid #808080;
        box-sizing: border-box;
        padding: 20px;

        h1 {
            font-size: 25px;
        }
    }

    .product-container {
        box-sizing: border-box;
        padding: 20px;

        .product-description {
            margin-bottom: 15px;
            font-size: 14px;
            color: #808080;
            text-align: center
        }

        ul {
            margin-bottom: 15px;

            li {
                margin: 5px 0px;
            }
        }


        h3 {
            text-align: center;
            font-size: 24px;
            margin: 10px 0px;
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        
        button {
            border: none;
            margin-bottom: 20px;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 19px;
            border: 1px solid #808080;
            background-color: #FFFFFF;
        }

        .selected {
            background-color: #2E86C1;
            color: #FFFFFF;
            outline: none;
        }
    }
}